{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {{title}} {% endblock title %}


{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element animate__animated animate__jackInTheBox"
             src="{% static 'assets/img/Orimba-Logo.jpeg' %}" height="80" alt="Volt logo">
    </div>

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Log Cutting</a></li>
                <li class="breadcrumb-item"><a href="{% url 'loglist' %}">Log List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Log List #{{ loglist.log_id }}</li>
            </ol>
        </nav>

    <div style="color:#575757; font-style: bold; font-size: 2rem; border-bottom: 1px solid white;text-align: center;">{{title}}</div> 
    
    <br><!-- Log on to codeastro.com for more projects -->
    
    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-4 mx-auto">
            <div class="d-block mb-0 mb-md-0">
               
            <div class="form-group mb-3 col-md-6">
                {{ form.log_id.errors }}
                <label for="{{ form.log_id.id_for_label }}">Log ID:</label>
                <input type="text" id="log_id" name="log_id" value="" class="form-control">
                {% comment %} {{ form.log_id }} {% endcomment %}
            </div>
            
        <div class="form-group mb-3 col-md-6">
            <label for="{{ form.partai_id.id_for_label }}">Partai ID :</label>
            <select id="partai_id" name="partai_id" class="form-select">
                <option value={{form.partai_id}}
                {% comment %} {{ form.partai_id }} {% endcomment %}
            </select>
        </div>
        {% comment %} <div class="form-group col-md-6">
            <label for="partai_id">Partai ID :</label>
            <div>
                {{ form.partai_id }}
            </div> 
        </div> {% endcomment %}
        <div class="form-group mb-3 col-md-6 "> 
            <label class="control-label" for="tanggal_kedatangan">Tanggal Kedatangan : </label>
            <input class="form-control" id="tanggal_kedatangan" name="tanggal_kedatangan"  placeholder="YYYY-MM-DD" type="date"/>
          </div>
        {% comment %} <div class="form-group col-md-6">
            <label for="supplier_id">Supplier ID :</label>
            {{ form.supplier_id }}
        </div> {% endcomment %}
        <div class="form-group mb-3 col-md-6">
            <label for="{{ form.supplier_id.id_for_label }}">Supplier ID :</label>
            <select id="supplier_id" name="supplier_id" class="form-select">
                <option value={{form.supplier_id}}
                {% comment %} {{ form.partai_id }} {% endcomment %}
            </select>
        </div>
        <div class="form-group mb-3 col-md-6 ">
            {{ form.grade.errors }}
            <label for="{{ form.grade.id_for_label }}">Grade:</label>
            <input type="text" id="grade" name="grade" value="" class="form-control">
        </div>
        <div class="form-group mb-3 col-md-6">
            <label for="species_id">Species ID :</label>
            {{ form.species_id }}
        </div>
        <div class="form-group mb-3 col-md-6">
            {{ form.log_colour.errors }}
            <label for="{{ form.log_colour.id_for_label }}">Log Colour:</label>
            <input type="text" id="log_colour" name="log_colour" value="" class="form-control">
        </div>
        <div class="form-group mb-3 col-md-6">
            {{ form.log_length.errors }}
            <label for="id_log_length">Log Length:</label>
            <input type="text" name="log_length" id="id_log_length" class="form-control">
        </div>
        <div class="form-group mb-3 col-md-6">
            {{ form.diameter_1.errors }}
            <label for="{{ form.diameter_1.id_for_label }}">Diameter 1:</label>
            <input type="text" name="diameter_1" id="id_diameter_1" class="form-control">
        </div>
        <div class="form-group mb-3 col-md-6">
            {{ form.diameter_2.errors }}
            <label for="{{ form.diameter_2.id_for_label }}">Diameter 2:</label>
            <input type="text" name="diameter_2" id="id_diameter_2" class="form-control">
        </div>
        <div>
            <label class="col-lg-10 mb-0 col-form-label">Average Diameter<i class="material-icons"
            style="font-size:16px;color:red">*</i></label>
            <div class="col-md-6">
            <label id="average_diameter" class="form-control" type="text" aria-label="Disabled input example" disabled readOnly>  
        </div>
        <div>
            <label class="col-lg-10 mb-0 col-form-label">Volume Bruto<i class="material-icons"
            style="font-size:16px;color:red">*</i></label>
            <div class="col-lg-6">
            <label id="volume_bruto" class="form-control" type="text" aria-label="Disabled input example" disabled readOnly>
        </div>
        <div class="form-group mb-0 col-md-6 ">
            {{ form.volume_trimming.errors }}
            <label for="{{ form.volume_trimming.id_for_label }}">Volume Trimming:</label>
            <input type="text" name="volume_trimming" id="id_volume_trimming" class="form-control">
        </div>
        <div>
            <label class="col-lg-10 mb-0 col-form-label">Volume Netto<i class="material-icons"
            style="font-size:16px;color:red">*</i></label>
            <div class="col-lg-6">
            <label id="volume_netto" class="form-control" type="text" aria-label="Disabled input example" disabled readOnly>
        </div>
        <!-- <div>
            <label for="volume_netto">Volume Netto:</label>
            <span id="volume_netto" name="volume_netto"></span>
        </div> -->
        <!-- <div class="form-group ">
            {{ form.volume_netto.errors }}
            <label for="{{ form.volume_trimming.id_for_label }}">Volume Netto:</label>
            {{ form.volume_netto}}
        </div> -->
    </div>
    </div>

        <br><!-- Log on to codeastro.com for more projects -->

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "New Log List Data" %}
                <button type="reset" class="btn btn-danger" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-LogListData' object.pk %}" class="btn  btn-danger"> Delete Data </a>
            {% endif %}
            <a href="{% url 'loglist' %}" class="btn btn-secondary">Cancel</a>
        </div>
        
    </form><!-- Log on to codeastro.com for more projects -->

   
    <script>
        // Add an event listener to the input fields
        document.addEventListener('input', function() {
            var diameter1 = parseFloat(document.getElementById('id_diameter_1').value) || 0;
            var diameter2 = parseFloat(document.getElementById('id_diameter_2').value) || 0;
            var logLength = parseFloat(document.getElementById('id_log_length').value) || 0;
            var volumeTrimming = parseFloat(document.getElementById('id_volume_trimming').value) || 0;
            
            var averageDiameter= (diameter1 + diameter2) / 2 ;

            averageDiameter = Math.floor(averageDiameter);

            var volumeBruto = averageDiameter * averageDiameter * 0.7854 * logLength * 0.0001;

            var volumeNetto = volumeBruto - volumeTrimming;
            
            // Update the displayed average diameter
            document.getElementById('average_diameter').textContent = averageDiameter.toFixed(2);
            document.getElementById('volume_bruto').textContent = volumeBruto.toFixed(2);
            document.getElementById('volume_netto').textContent = volumeNetto.toFixed(2);
        });
        document.getElementById('average_diameter').readOnly = true;     

    </script>
    {% include 'includes/footer.html' %}
</main>
{% endblock content %}