{% if form %}
    <td>{{ instance.partai_id }}</td>
    <form>
        {% for field in form %}
            <td>{{ field }}</td>
        {% endfor %}
    </form>
    <td>
        <button class="btn-sm btn-warning cancel_form"><i class="fa fa-times-circle"></i></button>
        <button class="btn-sm btn-success save_form"><i class="fa fa-save"></i></button>
    </td>
{% else %}
    <td><span class="font-weight-bold">{{ instance.partai_id }}</span></td>
    <td><span class="font-weight-normal">{{ instance.supplier_id }}</span></td>
    <td><span class="font-weight-normal">{{ instance.date_arrived|date:"d M Y" }}</span></td>
    <td><span class="font-weight-normal">{{ instance.log_cost }}</span></td>
    {% comment %} <td><span class="font-weight-bold">{{ instance.grade }}</span></td>
    <td><span class="font-weight-bold">{{ instance.species_id }}</span></td>
    <td><span class="font-weight-bold">{{ instance.log_colour }}</span></td>
    <td><span class="font-weight-bold">{{ instance.log_length }}</span></td>
    <td><span class="font-weight-bold">{{ instance.diameter_1 }}</span></td>
    <td><span class="font-weight-bold">{{ instance.diameter_2}}</span></td>
    <td><span class="font-weight-bold">{{ instance.average_diameter }}</span></td>
    <td><span class="font-weight-bold">{{ instance.volume_bruto }}</span></td>
    <td><span class="font-weight-bold">{{ instance.volume_trimming }}</span></td>
    <td><span class="font-weight-bold">{{ instance.volume_netto }}</span></td>
    <td> {% endcomment %}
        <div class="btn-group">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon icon-sm">
                        <span class="fas fa-ellipsis-h icon-dark"></span>
                    </span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item edit_item" href="{% url 'partai' instance.partai_id 'edit' %}">
                    <span class="fas fa-edit mr-2"></span>Edit
                </a>
                <a class="dropdown-item text-danger delete_item"
                   data-href="{% url 'partai' instance.partai_id %}">
                    <span class="fas fa-trash-alt mr-2"></span>Remove
                </a>
            </div>
        </div>
    </td>
{% endif %}