{% extends "layouts/base.html" %}
{% load static %}

{% block title %} sawnlog {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox"
                 src="{% static 'assets/img/orimba.jpeg' %}" height="60" alt="Volt logo">
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">Sawn Log</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Sawn Log</li>
                    </ol>
                </nav>
                <!-- <h2 class="h4">All Orders</h2> -->
                <!-- <p class="mb-0">Your web analytics dashboard template.</p> -->
            </div>  
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-primary">Export</button> -->
                </div>
            </div>
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <form action="{% url 'sawnlog' %}" method="get">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" name="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span
                                    class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="#">20</a>
                            <a class="dropdown-item font-weight-bold" href="#">30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Sawn ID</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Log ID</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Sawn Length</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Sawn Grade</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Diameter 1</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Diameter 2</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Average Diameter</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Volume</th>
                    <th style="text-align: center; font-size: 14px; font-weight: bold;">Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Item -->
                {% if sawnlogs is not True %}
                    {% for sawnlog in sawnlogs %}
                        <tr class="item-row" data-edit="{% url 'sawnlog' sawnlog.sawn_id 'edit' %}" 
                            data-detail="{% url 'sawnlog' sawnlog.sawn_id %}"> 
                            <div style="text-align: center;">
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.sawn_id }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.log_id }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.sawn_length }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.sawn_grade }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.diameter_1}}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.diameter_2 }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.average_diameter }}</span></td>
                                <td style="text-align: center;"><span class="font-weight-normal">{{ sawnlog.volume }}</span></td> 
                            </div>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit_item"
                                           href="{% url 'sawnlog' sawnlog.sawn_id 'edit' %}">
                                            <span class="fas fa-edit mr-2"></span>Edit
                                        </a>
                                        <a class="dropdown-item text-danger delete_item"
                                           data-href="{% url 'sawnlog' sawnlog.sawn_id %}">
                                            <span class="fas fa-trash-alt mr-2"></span>Delete
                                        </a>
                                        <!-- <form method="post" action="{% url 'sawnlog' sawnlog.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="single">
                                            <button type="submit" class="btn btn-danger">
                                                <span class="fas fa-trash-alt mr-2"></span>Delete
                                            </button>
                                        </form>
                                         -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            {{ sawnlogs.pagination }}

        </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

<script>
    function deleteRow(event) {
        event.preventDefault();  // Prevent the default behavior of the link
    
        // Get the log_id from the data-logid attribute
        const logId = event.currentTarget.getAttribute('data-logid');
    
        // Send an AJAX request to delete the row
        fetch('/delete_rows/?log_id=' + logId, {
            method: 'POST',
        })
        .then(response => {
            if (response.status === 200) {
                // Redirect to a success page or handle success as needed
                window.location.href = '/success_page/';
            } else {
                // Handle errors or show an error message to the user
                console.error('Error deleting row');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    </script>
